.about-us-container{
  background-color: #161616;
  height: 80vh;
}
.main{
  background-color: #161616;
  display: flex;
  flex-direction: row;
  padding-left: 5vw;
  padding-right: 5vw;
  gap: 50px;
  justify-content: center;
}
.sectiona{
  padding: 100px;
  border-radius: 50x;
}
.about-us-title{
  text-align: center;
  padding: 4%;
  
  color: #fff;
  font-size: 25px;
  background-color: #242527;
  border: 2px solid white;
  border-radius: 50px;

}

.sectionc{
  width: 40vw;
  background-color: #161616;
  padding-bottom: 20vh;
}

.sectionb{
  justify-content: center;
  align-items: center;
  width: 40vw;
  background-color: #161616;
  padding-bottom: 20vh;
}

.sectionb > .about-us-title{
  padding: 50px;
  line-height: 1.2;
}

.sectionb > .about-us-title > a {
  color: #fff;
  text-decoration: none;
}

.sectionc > .about-us-title{
  padding: 50px;
  line-height: 1.2;
}

.sectionc > .about-us-title > a {
  color: #fff;
  text-decoration: none;
}

.sectionb > img {
  height: 300px;
  width: 300px;
  border: 2px solid white;
  border-radius: 50px;
  margin-bottom: 25px;
}

.sectionc > img {
  height: 300px;
  width: 300px;
  border: 2px solid white;
  border-radius: 50px;
  margin-bottom: 25px;
}