.carouselitem {
    background: #ffffff;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 25px;
}

/* For screens smaller than 576px (mobile devices) */
@media screen and (max-width: 480px) {
    .carouselitem {
        height: 29px; /* Adjusted height for smaller screens */
        width: 90px !important;  /* Adjusted width for smaller screens */
    }
}
