/* Add these styles to your CSS file */

.custom-modal-header {
    background-color: #00000071; /* Change the background color as needed */
  }

.custom-modal-header .btn-close{
    color: #fff;
}

label {
    display: flex !important; 
    gap: 10px !important;
    overflow-x: scroll !important; 
    margin-bottom: 25px;

}
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .custom-modal-header {
      font-size: 18px; 
      background-color: #00000071;
      color: #888;
      padding: 15px;
      display: flex;
    }
  }
  
