/* LocationDropdown.css */
.location-dropdown-container {
    text-align: left;
    margin-top: 50px;
  }
  
  .dropdown-label {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .dropdown-select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 25px; /* Add border-radius */
  }
  
  .selected-location {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
  
  /* Add additional styles as needed */
  