/* Navbar2.css */
.navbar {
  background-color: #d2d2d2;
  }

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-component,
.center-component,
.right-component {
  display: flex;
  align-items: center;
}

.left-component {
  width: 20%;
  justify-content: flex-start;
}

.center-component {
  width: 60%;
  justify-content: center;
  margin-left: ; /* Adjusted margin to fit within the viewport */
}

.right-component {
  width: 20%;
  justify-content: flex-end;
  padding-left: 210px;
}

.center-component input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 35px;
  margin-right: 10px;
}

.center-component input::placeholder {
  color: #aaa;
}

.center-component button {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
