.navbar1 {
  background-color: #fff; /* Add your desired background color */
  padding: 0px;
  height: 100px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}

.left-component,
.right-component {
  /* Adjust spacing or add any additional styles as needed */
}
