/* Add these styles to your CSS file */

.custom-modal-header {
    background-color: #ffffff; /* Change the background color as needed */
  }

.custom-modal-header .btn-close{
    color: #fff;
}
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .custom-modal-header {
      font-size: 18px; 
      background-color: #ffffff;
      color: #888;
      padding: 15px;
      display: flex;
    }
  }
  