/* ImageGalleryPage.css */
.headtop {
    display: flex;
  }
  
  .card-title {
    width: 26%;
  }
  
  .card-paragraph {
    width: 75%;
    margin-left: 71px;
  }
  
  .userimg {
    background-color: red; /* Change to your desired background color */
  }
  
  /* Add more styles as needed */
  